{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
        	<div class="col-md-12">
	        	<div class="form-group">
			        <form action="{{ url_for('handleData') }}" method="post">
			        	<label for="idea"><h3>Input a new entry:</h3></label>

			            <input type="text" class="form-control" name="ideaInput" id="idea" size="40" placeholder="Input your idea">

			            <input type="submit" class="btn btn-default">
			        </form>
			    </div>
		    </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h1>Todo:</h1>
                <table>
                {% for row in todoList %}
                    <tr>
                        <td>
                            <form action="{{ url_for('deleteEntry')}}" method="post">
                                <input type="hidden" name="deleteId" value="{{row[0]}}">
                                <input type="submit" class="btn btn-danger btn-sm" value="X">
                            </form>
                        </td>

                        <td>
                            <form action="{{ url_for('doneEntry')}}" method="post">
                                <input type="hidden" name="doneId" value="{{row[0]}}">
                                <input type="submit" class="btn btn-success btn-sm" value="o">
                            </form>
                        </td>

                        <td>
                            {{ row[1] }}
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
            

            <div class="col-md-6">
                <h1>Todone:</h1>
                <table>
                    {% for row in doneList %}
                    <tr>
                        <td>
                            <form action="{{ url_for('deleteEntry')}}" method="post">
                                <input type="hidden" name="deleteId" value={{row[0]}}>
                                <input type="submit" class="btn btn-danger btn-sm" value="X">
                            </form>
                        </td>

                        <td>
                            {{ row[1] }}
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}