<!DOCTYPE html>
<html>
<head>
	<title>This is the greatest to-do list of All Time</title>
<style>
	table, th, td {
    	border: 1px solid black;
}
</style>
</head>
<body>
	{% for entry in todolist %}
	<table>
		<tr>
	    	<th>
	    		<form action="{{ url_for('delete_entry') }}" method="post">
	    			<input type="hidden" name="deleteEntry" value="{{ entry }}">
	    			<input type="submit" name="SubmitButton" value="Delete">
	    		</form>
	    	</th>
	    	<th>
	    		<form action="{{ url_for('done_entry') }}" method="post">
	    			<input type="hidden" name="doneEntry" value="{{ entry }}">
	    			<input type="submit" name="SubmitButton" value="Done">
	    		</form>
	    	</th>
	    	<th>{{ entry }}</th>
		</tr>
	{% endfor %}
	</table>
	{% for entry in donelist %}
	<table>
		<tr>
			<th>{{ entry }}</th>
		</tr>
	{% endfor %}
	</table>
	<p>Input a new entry:</p>
	<form action="{{ url_for('handle_data') }}" method="post">
		<input type="text" name="ideaInput" id="idea" size="40" placeholder="Input your idea">
		<input type="submit">
	</form>
</body>
</html>
